@page
@model IndexModel
@{
    ViewData["Title"] = "Todo App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Todo App</h1>
    <p class="lead">Manage your tasks efficiently with our simple todo application.</p>
    <a href="/Todos" class="btn btn-primary btn-lg">Go to Todo List</a>
</div>
